body {
  background-color: #fff0f5;
  font-family: 'Courier New', Courier, monospace;
  color: #800080;
  padding: 30px;
}

a {
  color: #c71585;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
