/* Reset básico para móvil */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
}

.btn-menu,
.sidebar {
  display: block;
}

.sidebar {
  background-color: #222;
  color: #ddd;
  height: 100vh;
  overflow-y: auto;
  padding-top: 60px;
  position: fixed;
  width: 250px;
  left: -250px;
  top: 0;
  transition: left 0.3s ease;
  z-index: 1000;
}
/* Así tu JS está correcto porque añade la clase abierto a la sidebar. */
.sidebar.abierto{
   left: 0;
}

/* Cuando esté abierto */
body.sidebar-abierto .sidebar {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a {
  padding: 10px 25px;
  text-decoration: none;
  font-size: 18px;
  color: #ddd;
  display: block;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  background-color: #575757;
  color: white;
}

.btn-cerrar {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 30px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* En móvil el main centra el contenido vertical y horizontalmente */
main {
  flex-grow: 1;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* centro vertical */
  align-items: center;      /* centro horizontal */
  text-align: center;
}
