/* Mostrar botón y sidebar en móvil */
.btn-menu,
.sidebar {
  display: block;
}

/* Sidebar en móvil, igual que en PC */
.sidebar {
  width: 250px;
  left: -250px;
  transition: left 0.3s ease;
}

/* Mostrar sidebar si está abierto */
body.sidebar-abierto .sidebar {
  left: 0;
}

/* Ajustes para contenido en móvil */
main {
  margin: 40px 20px;
  font-size: 1.2em;
  padding: 20px;
}
