body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

main {
    margin: 20px auto;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #009578;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    backgroun
